{% extends 'dashboard.html' %}
{% block content %}
<h2>Cargos</h2>
<a href="{% url 'cargo_create' %}" class="btn">Novo Cargo</a>
<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>Nome</th>
        <th>Salário Base</th>
        <th>Ações</th>
    </tr>
    {% for cargo in cargos %}
    <tr>
        <td>{{ cargo.nome }}</td>
        <td>{{ cargo.salario_base }}</td>
        <td>
            <a href="{% url 'cargo_update' cargo.pk %}">Editar</a> |
            <a href="{% url 'cargo_delete' cargo.pk %}">Remover</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Nenhum cargo cadastrado.</td></tr>
    {% endfor %}
</table>
<a href="{% url 'funcionarios_list' %}">Ver Funcionários</a>
{% endblock %} 